<div class="container">
<div class="footer">
	<!--<small>
		<%= link_to "Uvalue: Ruby, Site Version 4", "http://onemonthrails.com"  %>
		by <%= link_to "Joshua Anderson", "http://joshanderson.co" %>
	</small>-->
</div>
</div>